/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- team --*/
.team{
	padding: 100px 0px;
}
.tab1 .team-img-w3-agile{
	  background: url(images/teamb1.jpg)no-repeat 0px 0px;
}
.tab2 .team-img-w3-agile{
	  background: url(images/teamb2.jpg)no-repeat 0px 0px;
}
.tab3 .team-img-w3-agile{
	  background: url(images/teamb3.jpg)no-repeat 0px 0px;
}
.tab4 .team-img-w3-agile{
	  background: url(images/teamb4.jpg)no-repeat 0px 0px;
}
.tab1 .team-img-w3-agile,.tab2 .team-img-w3-agile,.tab3 .team-img-w3-agile,.tab4 .team-img-w3-agile{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
    background-size: cover;
	min-height: 360px;
    width: 27%;
	margin-left: 4em;
}
.team-Info-agileits {
    text-align: left;
    padding: 4em 0 0 3em;
}
.team-Info-agileits h4 {
    font-size: 25px;
    letter-spacing: 1px;
}
.team-Info-agileits span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #7d7a7a;
}
.team-Info-agileits p {
    font-size: 16px;
    /* text-transform: uppercase; */
    letter-spacing: .5px;
    color: #337ab7;
    line-height: 30px;
    margin: 1.5em 0 1em;
}
.resp-tabs-list li{
    opacity: .5;
}
li.resp-tab-item.resp-tab-active{
	opacity:1;
}
ul.resp-tabs-list {
    margin-left: 15em;
}
.resp-tabs-list li img {
    border-radius: 100%;
	-webkit-border-radius: 100%;
    -o-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);

}

/*--social-icons--*/
ul.social-icons3 {
    display: block;
    padding: 0;
    margin-top: .55em;
}
.social-icons3 li{
	display:inline-block;
}
.social-icons3 li a{  
    display: block;
    height: 30px;
    width: 30px;
    margin-right: 1em;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
	margin-right: 1em;
	-webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    line-height: 30px;
	color:#fff;
	text-align:center;
}
.social-icons3 li a.fa.fa-facebook.icon-border.facebook{
	 background:#4D669C;
}
.social-icons3 li a.fa.fa-twitter.icon-border.twitter{
	 background:#1da1f2;
}
.social-icons3 li a.fa.fa-google-plus.icon-border.googleplus{
	 background:#d34836;
}
.social-icons3 li a.fa.fa-rss.icon-border.rss{
	 background:#ee802f;
}
.social-icons3 li a:hover{
	text-decoration:none;
	opacity:0.8;
}
.contact-bnr-w3-agile {
    float: right;
}
.contact-bnr-w3-agile ul li {
    list-style: none;
    display: inline-block;
       /*border-left: 1px solid #0066b2;*/
    padding: 13px 20px;
        color: #101010;
	font-size:14px;
	 transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.contact-bnr-w3-agile ul li a{
	    color: #101010;
	text-decoration:none;
	 transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
	text-transform: lowercase;
	font-size: 15px;
}
.contact-bnr-w3-agile ul li a:hover{
	 color: #0066b2;
	 transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.contact-bnr-w3-agile ul li i {
       color: #000000;
    font-size: 16px;
    margin-right: 15px;
}
/*-- //team --*/

/*--rooms & rates --*/
.price-list ul {
    padding: 0px;
    list-style: none;
}
.price-gd-top {
    text-align: center;
    position: relative;
}
.price-gd-top h4 {
    font-size: 1.5em;
    color: #fff;
    padding: 0.4em 1em;
    background: #0f2453;
    font-weight: 300;
    position: absolute;
    top: 9.6em;
    right: 0em;
}
.price-selet h3 {
    padding: 0.2em 0em 0em 0em;
    font-size: 1.7em;
    float: left;
    margin-left: 20px;
}
.price-selet h3 span {
    color: #ef0404;
    font-size: 31px;
    margin-right: 5px;
}
.price-gd-bottom {
    background: #fff;
    text-align: center;
    padding: 1.8em 0em 1em;
}
.price-gd-top img {
    width: 100%;
}
.price-list ul li {
    padding: 0.5em 0em;
    font-size: 0.9em;
    color: #2b2b2b;
    display: inline-block;
}
.price-selet {
    padding: 1em 0em;
    text-align: center;
    background: #fff;
}
.price-selet a {
    font-size: 1.1em;
    color: #fff;
    display: block;
}
.price-selet a {
    font-size: 0.9em;
    color: #000000;
    display: inline-block;
    padding: 0.5em 2em;
    background: #ffce14;
    text-decoration: none;
    border: 2px solid #ecbf11;
}
.price-block {
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.price-block:hover,.w3layouts-pricing:hover,.w3-agileits-vpn-grid:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    z-index: 1;
}
/*--//rooms & rates --*/

/*-- to-top --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 30px;
    right: 25px;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(images/arr.png) no-repeat 0px 0px;
}
#toTopHover {
    width: 32px;
    height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/

/*--responsive--*/
@media(max-width:1080px){
	.resp-tabs-list li img {
		border-radius: 100%;
		width: 85%;
		margin: 0 auto;
	}
	.resp-tabs-list li {
		padding: 11px 10px;
	}
	ul.resp-tabs-list {
		margin-left: 11.5em;
	}
	.tab1 .team-img-w3-agile, .tab2 .team-img-w3-agile, .tab3 .team-img-w3-agile, .tab4 .team-img-w3-agile {
		width: 33%;
		float: left;
		margin-left: 0em;
	}
	.team-Info-agileits h4 {
		font-size: 23px;
	}
	.team-Info-agileits {
		padding: 3.3em 0 0 3em;
	}
	.team-Info-agileits p {
		margin: 1.3em 0 .8em;
	}
	.price-grid {
		padding: 0px 10px;
	}
	.price-gd-top h4 {
		font-size: 1.3em;
		top: 9.4em;
	}
	.price-selet h3 {
		font-size: 1.5em;
	}
	.price-selet a {
		padding: 0.5em 1.7em;
	}
}
@media(max-width:1050px){
	
}

@media(max-width:991px){
	ul.resp-tabs-list {
		margin-left: 5em;
	}
	.tab1 .team-img-w3-agile, .tab2 .team-img-w3-agile, .tab3 .team-img-w3-agile, .tab4 .team-img-w3-agile {
		width: 40%;
		float: left;
		margin-left: 0em;
	}
	.team-Info-agileits {
		padding:3em 0 0 2.5em;
		float: left;
		width: 60%;
	}
	.price-grid {
		padding: 0px 10px;
		width: 41%;
		float: left;
		margin: 0 2.02em;
	}
	.price-grid:nth-child(1),.price-grid:nth-child(2){
		margin-bottom: 2em;
	}
	.price-gd-top h4 {
		top: 12.3em;
	}
	.social-icons3 li a {
		height: 25px;
		width: 25px;
		margin-right: .5em;
		font-size: 14px;
		line-height: 26px;
	}
	ul.social-icons3 {
		margin-top: .6em;
	}
}

@media(max-width:768px){
	.resp-accordion img{
		border-radius: 50%;
		   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
		-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
		-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
		-o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
		-ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
	}
	h2.resp-accordion:first-child,h2.resp-accordion {
		border-top: none !important;
		border:none!important;
	}
	.w3layouts_work_grid_left_pos img {
		border: 7px solid #ffffff;
	}
	.team-Info-agileits p {
		font-size: 14.5px;
	}
	.team-Info-agileits h4 {
		font-size: 20px;
	}
}
@media(max-width:767px){
	.price-gd-top h4 {
		top: 13.3em;
		font-size: 1.2em;
	}
	.price-selet a {
		padding: 0.3em 1.7em;
	}
	.price-gd-bottom {
		padding: 1.3em 0em 1em;
	}
	.price-selet {
		padding: .5em 0em;
	}
	.price-selet h3 {
		padding: 0em 0em 0em 0em;
	}
	.modal-dialog {
		width: 80%;
		margin: 2.5em auto 0;
	}
}
@media(max-width:667px){
	.tab1 .team-img-w3-agile, .tab2 .team-img-w3-agile, .tab3 .team-img-w3-agile, .tab4 .team-img-w3-agile {
		min-height: 318px;
	}
	.team-Info-agileits {
		padding: 1.8em 0 0 2em;
	}
	.viewbox-button-next {
		right: 18px;
	}
	.viewbox-button-prev {
		left: 18px;
	}
	.viewbox-button-next, .viewbox-button-prev {
		top: 54%;
		width: 90px;
		height: 90px;
	}
	.viewbox-body {
		top: 52%;
	}
	.tpl6 .dmbutton {
		margin: 67px 5px 20px 5px;
	}
	.price-grid {
		width: 48%;
		margin: 0 .3em;
	}
}

@media(max-width:600px){
	.tab1 .team-img-w3-agile, .tab2 .team-img-w3-agile, .tab3 .team-img-w3-agile, .tab4 .team-img-w3-agile {
		min-height: 275px;
	}
	.advantage-block {
		padding: 1.5em 1em;
	}
	.team-Info-agileits {
		padding: 1.1em 0 0 1.9em;
	}
	.team-Info-agileits p {
		margin: .6em 0 .1em;
	}
	.tpl6 .dmbutton {
		margin: 96px 5px 20px 5px;
	}
	.price-gd-top h4 {
		top: 11.8em;
	}
}
@media(max-width:568px){
	.team-Info-agileits {
		padding: 0.2em 0 0 1.9em;
	}
	.tpl6 .dmbutton {
		margin: 89px 5px 20px 5px;
	}
	.price-grid {
		width: 100%;
		margin: 0 auto;
	}
	.priceing-table-main {
		width: 51%;
		margin: 0 auto;
	}
	.price-grid:nth-child(1), .price-grid:nth-child(2),.price-grid:nth-child(3) {
		margin-bottom: 1.5em;
	}
}
@media(max-width:480px){
	.tab1 .team-img-w3-agile, .tab2 .team-img-w3-agile, .tab3 .team-img-w3-agile, .tab4 .team-img-w3-agile {
		min-height: 360px;
		width: 83%;
		margin: 0 auto;
		float: none;
	}
	.team-Info-agileits {
		padding: 1.5em 0 0 1.9em;
		width: 100%;
		float: none;
	}
	.team-Info-agileits p {
		font-size: 14px;
	}
	.team-Info-agileits span {
		font-size: 11px;
	}
	.team-Info-agileits h4 {
		font-size: 19px;
	}
	.tpl6 .dmbutton {
		margin: 70px 5px 20px 5px;
	}
	.viewbox-button-next, .viewbox-button-prev {
		top: 58%;
	}
	.priceing-table-main {
		width: 61%;
	}
	.price-gd-top h4 {
		top: 12.8em;
		font-size: 1.1em;
	}
	.price-selet h3 {
		font-size: 1.3em;
	}
	.price-selet h3 span {
		font-size: 27px;
	}
	.price-selet a {
		padding: 0.2em 1.5em;
	}
}
@media(max-width:414px){
	.tab1 .team-img-w3-agile, .tab2 .team-img-w3-agile, .tab3 .team-img-w3-agile, .tab4 .team-img-w3-agile {
		min-height: 355px;
		width: 100%;
	}
	.team-Info-agileits {
		padding: 1.5em 0 0 0em;
	}
}
@media(max-width:375px){
	.tab1 .team-img-w3-agile, .tab2 .team-img-w3-agile, .tab3 .team-img-w3-agile, .tab4 .team-img-w3-agile {
		min-height: 290px;
	}
}
@media(max-width:320px){
	.tab1 .team-img-w3-agile, .tab2 .team-img-w3-agile, .tab3 .team-img-w3-agile, .tab4 .team-img-w3-agile {
		min-height: 245px;
	}
	.resp-tab-content {
		padding: 20px;
	}
	.tpl6 .dmbutton {
		margin: 99px 5px 20px 5px;
	}
	.priceing-table-main {
		width: 90%;
	}
	.price-gd-top h4 {
		top: 12.5em;
		font-size: 1.05em;
	}
	h3.title-w3-agileits {
		font-size: 1.4em;
		line-height: 33px;
	}
}
/*--responsive--*/
